<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>vg-1day-2018-05-13</title>
  <link rel="stylesheet" href="/assets/css/skeleton.css" />
  <link rel="stylesheet" href="/assets/css/app.css" />
</head>
<body>
  <div id="app" class="container">
    <div class="row">
      <h5>メッセージアプリ</h5>
    </div>
    <div class="row">
      <!-- Tutorial 1-1. ユーザー名を表示しよう -->
      <div class="message-list" v-for="message in messages">
        <message
          :id="message.id"
          :body="message.body"
          :type="message.type"
          :username="message.username"
          :remove-message="removeMessage"
          :update-message="updateMessage"
        ></message>
      </div>
    </div>
    <div class="row">
		 	<div class="message-mode-tab">
				<input type="radio" id="messageMode0" :value="0" v-model="newMessage.type">
				<label for="messageMode0">テキスト入力</label>
			</div>
			<div class="message-mode-tab">
				<input type="radio" id="messageMode1" :value="1" v-model="newMessage.type">
				<label for="messageMode1">Emoji</label>
			</div>
			<template v-if="newMessage.type===0">
				<textarea class="u-full-width" v-model="newMessage.body" placeholder="メッセージ"></textarea>
			</template>
			<div class="emoji_selector" v-if="newMessage.type===1">
				<span class="emoji_selector_emoji" v-for="(emoji,index) in emojiList">
					<emoji-sel :emoji="emoji" :emoji-radio-id="`emoji_${index}`" v-model="newMessage.body"></emoji-sel>
				</span>
			</div>
							<!-- Tutorial 1-2. ユーザー名を追加しよう -->
      <input type="text" class="u-full-width" v-model="newMessage.username" placeholder="ユーザー名">
      <!-- -->
      <button class="button-primary" v-on:click="sendMessage">Send</button>
    </div>
  </div>

  <script src="/assets/js/vue.js"></script>
  <script src="/assets/js/whatwg-fetch.js"></script>
  <script src="/assets/js/cpmt-msg.js"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
