.message {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.message-body .action-button {
  margin: 0px 3px;
  color: #c1c1c1;
  cursor: pointer;
}

.message-body .action-button:hover {
  color: #444444;
}

.isStamp {
	font-size: 200px;
}
.emoji-inp, .emoji-inp label{
	display:inline-block;
	font-size:23px;
}
.emoji-inp input[type="radio"]{
	display:none;
}
.emoji-inp input[type="radio"]:checked+label{
	background-color:#f00;
}
.message-mode-tab, .message-mode-tab label{
	display:inline-block;
}
.message-mode-tab label{
	padding:5px 10px;
	margin:5px;
}
.message-mode-tab input[type="radio"]:checked+label{
	background-color:#f00;
	color:#fff;
}
.message-mode-tab input[type="radio"]{
	display:none;
}