<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>vg-1day-2018</title>
  <link rel="stylesheet" href="/assets/css/skeleton.css" />
  <link rel="stylesheet" href="/assets/css/app.css" />
</head>
<body>
  <div id="app" class="container">
    <div class="row">
      <h5>メッセージアプリ</h5>
    </div>
    <div class="row">
      <!-- 1-1. ユーザー名を表示しよう -->
      <div class="message-list" v-for="message in messages">
        <message
          :id="message.id"
          :body="message.body"
          :username="message.username"
          :remove-message="removeMessage"
          :update-message="updateMessage"
        ></message>
      </div>
    </div>
    <div class="row">
      <textarea class="u-full-width" v-model="newMessage.body" placeholder="メッセージ"></textarea>
      <!-- 1-2. ユーザー名を追加しよう
      <input type="text" class="u-full-width" v-model="newMessage.username" placeholder="ユーザー名">
      -->
      <button class="button-primary" v-on:click="sendMessage">Send</button>
    </div>
  </div>

  <script src="/assets/js/vue.js"></script>
  <script src="/assets/js/whatwg-fetch.js"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
